
    

<div>
<style>
    .div {position: fixed;left: 0px;top: 105px; background: rgba(30, 146, 45, 0.5) ;width: 15%; padding: 10px; overflow: auto; resize: both;}
    .section{font-size : 11px}
    /* .link { color: white; font-size: small } */
	.jp-Notebook {float: right;  width: 88%;}
</style>

<body>

<div class=div>
<section class = section>
<a class="link", href = "#partie0"> Sommaire </a><br>
<a class="link", href = "#partie1">Partie 1 : Librairies et fonctions</a><br>
    <ul>
    <li><a class="link", href = "#partie1.1">1.1 - Importation les librairies</a></li>    
    </ul>
<a class="link", href = "#partie2">Partie 2 : Importer les fichiers et initialiser les Dataframe</a>
    <ul>
    <li><a class="link" href = "#partie2.1">2.1 - Sous Nutrition</a></li>    
    <li><a class="link" href = "#partie2.2">2.2 - Disponibilités Alimentaires</a></li>    
    <li><a class="link" href = "#partie2.3">2.3 - Aides Alimentaires</a></li>    
    <li><a class="link" href = "#partie2.4">2.4 - Population Mondiale</a></li>  
    <li><a class="link" href = "#partie2.5">2.5 - Dataframe Population Mondiale avec sous_nutrition</a></li>    
    <li><a class="link" href = "#partie2.6">2.6 - Datarame spécifique pour l'année 2017</a></li>    
    </ul>
<a class="link", href = "#partie3">Partie 3 : La réponses aux questions de Marc</a>
    <ul>
    <li><a class="link", href = "#partie3.1">3.1 - Proportion de personnes en état de sous-nutrition</a></li>    
    <li><a class="link", href = "#partie3.1.1">3.1.1 - Evolution de la sous nutrition  de 2013 à 2018</a></li>    
    <li><a class="link", href = "#partie3.2">3.2 - Nombre théorique de personne nourrisable (disponibilitaire alimentaire mondiale)</a></li>    
    <li><a class="link", href = "#partie3.3">3.3 - Nombre théorique de personne nourrisable (produits végétaux)</a></li> 
    <li><a class="link", href = "#partie3.4">3.4 - Répartition de l'utilisation de la disponibilité intérieure </a></li> 
    <li><a class="link", href = "#partie3.5">3.5 - Utilisations des céréales</a></li>
    <li><a class="link", href = "#partie3.6">3.6 - Focus sur l'utilisation du Manioc en Thaïlande</a></li> 
    </ul>
<a class="link", href = "#partie4">Partie 4 : La réponses aux questions de Mélanie</a>
    <ul>
    <li><a class="link", href = "#partie4.1">4.1 - Pays avec la proportion de personnes sous-alimentés la plus forte en 2017</a></li>    
    <li><a class="link", href = "#partie4.2">4.2 - Pays ayant reçu le plus d'aide depuis 2013</a></li>    
    <li><a class="link", href = "#partie4.3">4.3 - Disponibilités par habitant</a></li>    
    </ul>
<a class="link", href = "#partie5">Partie 5 - Visualisation des disponibilités par habitants niveau mondiale</a><br>
<br>
<a class="link" href = "#conclusion">Conclusion</a>
</br>
<a class="link" href = "#Références">Références</a>

</section>
</frame>
</body>
</html>
</div>